::ng-deep :root{

  background-color: 	 #0F2439;

  color: #1E252B;
  font-family: sans-serif;

  --normal-overlay-color:  #E9ECEF;
  --special-overlay-color: #384660;
  --special-overlay-color-alt:  #DEE2E6;
  --highlight-overlay-color: #DEE2E6;

  --normal-width: 90%;
  --standard-min-width: 10cm;
  --standard-max-width: 25cm;

  --nav-width: 7rem;
  --small-max-width: 20cm;

  --normal-border-radius: 1rem;
  --normal-border: 1px solid black;

  --normal-margin: 2rem;

  --normal-box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.438);
}

::ng-deep .data_holder{
  display: flex;
  flex-direction: column;

  margin: auto;
  width: var(--normal-width);
  max-width: var(--standard-max-width);

  background-color: var(--normal-overlay-color);
  border: var(--normal-border);

}

::ng-deep .data_item{
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: .5rem;
  overflow: auto;
}

::ng-deep .inline_image{
  object-fit: contain;

  min-width: 5rem;
  max-width: 5rem;
  max-height: 5rem;

  box-sizing: border-box;
  padding: .25rem;
}

::ng-deep .item_row{
  display: flex;
  flex-direction: column;

  padding: .5rem 0
}

::ng-deep .name{
  font-size: 1.5rem;
  font-weight: bold;
}

::ng-deep .description{
  font-weight: 1rem;
}

.content{
  margin-left:  var(--nav-width);
}

.entirePage{
  max-width: calc(var(--nav-width) + var(--standard-max-width));
  margin: auto;
}
